USE $(DBNAME);
GO

-- Populate dbo.Book_Commentary Table
PRINT 'Populating dbo.Book_Commentary Table';
GO

INSERT INTO dbo.Book_Commentary (Book_ID, Commentary_ID) VALUES (1, 1);
INSERT INTO dbo.Book_Commentary (Book_ID, Commentary_ID) VALUES (2, 2);
INSERT INTO dbo.Book_Commentary (Book_ID, Commentary_ID) VALUES (3, 3);
GO
-- Populate dbo.Book_Subject Table
PRINT 'Populating dbo.Book_Subject Table';
GO

INSERT INTO dbo.Book_Subject (Book_ID, Subject_ID) VALUES (1, 33);
INSERT INTO dbo.Book_Subject (Book_ID, Subject_ID) VALUES (1, 35);
INSERT INTO dbo.Book_Subject (Book_ID, Subject_ID) VALUES (2, 8);
GO
-- Populate dbo.Book_Title Table
PRINT 'Populating dbo.Book_Title Table';
GO

INSERT INTO dbo.Book_Title (Book_ID, Title_ID) VALUES (1, 1);
INSERT INTO dbo.Book_Title (Book_ID, Title_ID) VALUES (1, 2);
INSERT INTO dbo.Book_Title (Book_ID, Title_ID) VALUES (2, 3);
GO
-- Populate dbo.Contributor Table
PRINT 'Populating dbo.Contributor Table';
GO

INSERT INTO dbo.Contributor (Contributor_ID) VALUES (1);
INSERT INTO dbo.Contributor (Contributor_ID) VALUES (2);
INSERT INTO dbo.Contributor (Contributor_ID) VALUES (3);
GO
-- Populate dbo.Contributor_Birth_Place Table
PRINT 'Populating dbo.Contributor_Birth_Place Table';
GO

INSERT INTO dbo.Contributor_Birth_Place (Contributor_ID, Birth_City, Birth_State, Birth_Country) VALUES (1, 'Tokyo', NULL, 'Japan');
INSERT INTO dbo.Contributor_Birth_Place (Contributor_ID, Birth_City, Birth_State, Birth_Country) VALUES (2, 'Eisleben', NULL, 'Holy Roman Empire');
INSERT INTO dbo.Contributor_Birth_Place (Contributor_ID, Birth_City, Birth_State, Birth_Country) VALUES (3, 'Florida', 'Missouri', 'United States');
GO
-- Populate dbo.Contributor_Book Table
PRINT 'Populating dbo.Contributor_Book Table';
GO

INSERT INTO dbo.Contributor_Book (Contributor_ID, Book_ID, Is_Primary_Contributor, Contributor_Role_ID) VALUES (1, 2, 1, 2);
INSERT INTO dbo.Contributor_Book (Contributor_ID, Book_ID, Is_Primary_Contributor, Contributor_Role_ID) VALUES (2, 1, 1, 2);
INSERT INTO dbo.Contributor_Book (Contributor_ID, Book_ID, Is_Primary_Contributor, Contributor_Role_ID) VALUES (3, 3, 1, 2);
GO
-- Populate dbo.Contributor_Key_Dates Table
PRINT 'Populating dbo.Contributor_Key_Dates Table';
GO

INSERT INTO dbo.Contributor_Key_Dates (Contributor_ID, Date_Type_ID, Key_Date, Is_Exact) VALUES (1, 0, '1892-03-01', 1);
INSERT INTO dbo.Contributor_Key_Dates (Contributor_ID, Date_Type_ID, Key_Date, Is_Exact) VALUES (1, 1, '1927-07-24', 1);
INSERT INTO dbo.Contributor_Key_Dates (Contributor_ID, Date_Type_ID, Key_Date, Is_Exact) VALUES (2, 0, '1483-11-10', 1);
GO
-- Populate dbo.Contributor_Name Table
PRINT 'Populating dbo.Contributor_Name Table';
GO

INSERT INTO dbo.Contributor_Name (Contributor_ID, Contributor_LCID, Last_Name, First_Name, Middle_Name, Is_Primary_Spelling) VALUES (1, 1033, 'Akutagawa', 'Ryūnosuke', NULL, 0);
INSERT INTO dbo.Contributor_Name (Contributor_ID, Contributor_LCID, Last_Name, First_Name, Middle_Name, Is_Primary_Spelling) VALUES (1, 1041, '芥川', '龍之介', NULL, 1);
INSERT INTO dbo.Contributor_Name (Contributor_ID, Contributor_LCID, Last_Name, First_Name, Middle_Name, Is_Primary_Spelling) VALUES (2, 1033, 'Luther', 'Martin', NULL, 1);
GO

-- Populate dbo.Contributor_Role Table
PRINT 'Populating dbo.Contributor_Role Table';
GO

INSERT INTO dbo.Contributor_Role (Contributor_Role_ID, Contributor_Role_Description) VALUES (1, 'Annotator');
INSERT INTO dbo.Contributor_Role (Contributor_Role_ID, Contributor_Role_Description) VALUES (2, 'Author');
INSERT INTO dbo.Contributor_Role (Contributor_Role_ID, Contributor_Role_Description) VALUES (3, 'Publisher');
GO

-- Populate dbo.Date_Type Table
PRINT 'Populating dbo.Date_Type Table';
GO

INSERT INTO dbo.Date_Type (Date_Type_ID, Date_Description) VALUES (0, 'Birth');
INSERT INTO dbo.Date_Type (Date_Type_ID, Date_Description) VALUES (1, 'Deceased');
GO

-- Populate dbo.File_Ext Table
PRINT 'Populating dbo.File_Ext Table';
GO

INSERT INTO dbo.File_Ext (File_Ext, File_Ext_Description) VALUES ('.doc', 'Microsoft Word Document');
INSERT INTO dbo.File_Ext (File_Ext, File_Ext_Description) VALUES ('.pdf', 'Adobe Acrobat PDF');
INSERT INTO dbo.File_Ext (File_Ext, File_Ext_Description) VALUES ('.tex', 'TeX Document');
GO
-- Populate dbo.LoC_Class Table
PRINT 'Populating dbo.LoC_Class Table';
GO

INSERT INTO dbo.LoC_Class (Class_Code, Class_Description) VALUES ('B', 'Philosophy. Psychology. Religion');
INSERT INTO dbo.LoC_Class (Class_Code, Class_Description) VALUES ('D', 'History (General)');
INSERT INTO dbo.LoC_Class (Class_Code, Class_Description) VALUES ('E', 'History of the Americas');
GO

-- Populate dbo.LoC_Subclass Table
PRINT 'Populating dbo.LoC_Subclass Table';
GO

INSERT INTO dbo.LoC_Subclass (Class_Code, Subclass_Code, Subclass_Description) VALUES ('B', 'BL', 'Religion: General, Miscellaneous and Atheism');
INSERT INTO dbo.LoC_Subclass (Class_Code, Subclass_Code, Subclass_Description) VALUES ('B', 'BS', 'Christianity: The Bible, Old and New Testament');
INSERT INTO dbo.LoC_Subclass (Class_Code, Subclass_Code, Subclass_Description) VALUES ('B', 'BX', 'Christian Denominations');
GO

-- Populate dbo.Numbers Table
PRINT 'Populating dbo.Numbers Table';
GO

WITH X(n)
AS
(
	SELECT 0 UNION ALL SELECT 1 UNION ALL SELECT 2
	UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5
	UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8
	UNION ALL SELECT 9
)
INSERT INTO dbo.Numbers (n)
SELECT hundredthousands.n * 100000 +
	tenthousands.n * 10000 +
	thousands.n * 1000 +
	hundreds.n * 100 +
	tens.n * 10 +
	ones.n
FROM X hundredthousands
CROSS JOIN X tenthousands
CROSS JOIN X thousands
CROSS JOIN X hundreds
CROSS JOIN X tens
CROSS JOIN X ones;
GO

-- Populate dbo.Subject Table
PRINT 'Populating dbo.Subject Table';
GO

INSERT INTO dbo.Subject (Subject_ID, Subject_Description) VALUES (1, 'Algebra');
INSERT INTO dbo.Subject (Subject_ID, Subject_Description) VALUES (2, 'Argonauts (Greek mythology)');
INSERT INTO dbo.Subject (Subject_ID, Subject_Description) VALUES (3, 'Army -- British');
GO
-- Populate dbo.Title Table
PRINT 'Populating dbo.Title Table';
GO

INSERT INTO dbo.Title (Title_ID, Title_LCID, Is_Primary_Title, Title) VALUES (1, 1033, 1, N'The Small Catechism of Martin Luther');
INSERT INTO dbo.Title (Title_ID, Title_LCID, Is_Primary_Title, Title) VALUES (2, 1033, 0, N'Martin Luther''s Small Catechism');
INSERT INTO dbo.Title (Title_ID, Title_LCID, Is_Primary_Title, Title) VALUES (3, 1033, 0, N'Rashomon');
GO

-- Populate dbo.Xml_Lang_Code Table
PRINT 'Populating dbo.Xml_Lang_Code Table';
GO

INSERT INTO dbo.Xml_Lang_Code (LCID, Xml_Lang_Code) VALUES (1025, 'ar');
INSERT INTO dbo.Xml_Lang_Code (LCID, Xml_Lang_Code) VALUES (1026, 'bg');
INSERT INTO dbo.Xml_Lang_Code (LCID, Xml_Lang_Code) VALUES (1027, 'ca');
GO